$text-color: rgba(0,0,0,0.8);
$light-grey:  #f2f2f2;
$medium-grey: #dadce0;
$active: #2ea44f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;  
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 100px 0 105px;
}

.search-input {
  width: 100%;
  height: 100%;
  position: relative;
  
  &__bar {
    display: flex;
    align-items: center;
    border: 1px solid $medium-grey;
    border-radius: 24px;
    height: 44px;
    width: 100%;
    padding: 6px 30px 6px 44px;

    &:hover {
      box-shadow: 0 1px 6px rgba(32,33,36,.28);
    }
  }

  &__input {
    height: 100%;
    width: 100%;
    border: none;
    font-family: inherit;
    font-size: 18px;
    color: $text-color;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    height: 20px;
    width: 20px;
    position: absolute;
    left: 15px;
    top: 12px;
  }

  &__close-btn {
    position: absolute;
    right: 15px;
    display: flex;
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    display: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__close-icon {
    height: 20px;
    width: 20px;
  }
}

.finder-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 560px;

  &__title {
    font-weight: bold;
    font-size: 60px;
    color: $active;
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    &__logo {
      margin-left: 15px;
    }
  }

  &--open {
    .search-input{
      &__bar {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom: none;
        box-shadow: 0 1px 6px rgba(32,33,36,.28);
      }

      &__close-btn {
        display: flex;
      }
    }
  }
}

.users {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: auto;
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
  position: absolute;
  top: 43px;
  list-style: none;
  background: #ffffff;
  border: 1px solid $medium-grey;
  border-top: none;
  box-shadow: 0 4px 6px rgba(32,33,36,.28);
  padding: 0 0 6px; 
  border-radius: 0 0 24px 24px;
}

.user {
  display: flex;
  align-items: center;
  padding: 7px 0;

  &:hover {
    background-color: $light-grey;
    cursor: pointer;
  }

  &__link,
  &__not-found-massage {
    display: flex;
    color: inherit;
    text-decoration: none;
    width: 100%;
    padding: 0 44px;
  }

  &__avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 15px;
  }
}

.footer {
    background: $light-grey;
    border-top: 1px solid $medium-grey;
    height: 80px;
}